{% extends 'base.html.twig' %}

{% block title %}Etat des stocks
{% endblock %}

{% block stylesheets %}
	<style>
		.taille {}
		.largeur {}
	</style>
{% endblock %}

{% block body %}
	<table class="table table-hover">
		<thead align="center">
			<tr>
				<th scope="col">Articles</th>
				<th scope="col">Quantité</th>
			</tr>
		</thead>
		<tbody align="center">
			{% for fournisseur in fournisseurs %}
				{% for article in fournisseur.getArticles() %}
					<tr class="table-dark">
						<td>
							<p>
								{{article.NomArt}}
							</p>
						</td>
						<td>
							<p>
								<button type="button" class="btn btn-info">
									<i class="fas fa-edit"></i>
								</button>
								{{article.QtArt}}
								<button type="button" class="btn btn-info">
									<i class="fas fa-trash"></i>
								</button>
							</p>
						</td>
					</tr>
				{% endfor %}
			{% endfor %}
		</tbody>
	</table>
	<button type="button" class="btn btn-outline-info">Ajouter un nouvel article</button>
{% endblock %}
