{% extends 'base.html.twig' %}

{% block title %}Nouvel article{% endblock %}

{% block stylesheets %}
	<style>
		#Modifier,
		#Add_article {
			color: #000000;
			text-decoration: none;
		}
        h1{
            text-align:center;
        }
	</style>
{% endblock %}

{% block body %}
		<h1>Formulaire d'ajout d'un nouvel article</h1>

		{{ include('articles/_form.html.twig') }}

		<button type="button" class="btn btn-primary">
			<a href="{{ path('articles_index') }}" id="Add_article">Annuler</a>
		</button>
{% endblock %}
