{% extends 'base.html.twig' %}

{% block title %}Modification d'un fournisseur{% endblock %}

{% block body %}
    <h1>Modification d'un fournisseur</h1>

    {{ include('fournisseurs/_form.html.twig', {'button_label': 'Mise à jour'}) }}

    <a href="{{ path('fournisseurs_index') }}">Retourner à la liste des founisseurs</a>

    {{ include('fournisseurs/_delete_form.html.twig') }}
{% endblock %}
