{% extends 'base.html.twig' %}

{% block title %}Liste des fournisseurs{% endblock %}

{% block stylesheets %}
	<style>
		#Modifier,
		#Add_article {
			color: #000000;
			text-decoration: none;
		}
        h1{
            text-align:center;
        }
        td{
            vertical-align:middle;
        }
	</style>
{% endblock %}

{% block body %}
    <h1>Liste des fournisseurs</h1>

    <table class="table table-hover">
		<thead align="center">
            <tr>
                <th scope="col"><h4>Nom des fournisseurs</h4></th>
                <th scope="col"><h4>Site-Web des fournisseurs</h4></th>
            </tr>
        </thead>
        <tbody align="center">
        {% for fournisseur in fournisseurs %}
            <tr align="center" class="table-dark">
                <td>{{ fournisseur.NomFour }}</td>
                <td>{{ fournisseur.SiteWebFour }}</td>
                <td>
                    <button type="button" class="btn btn-primary">
                        <a href="{{ path('fournisseurs_edit', {'id': fournisseur.id}) }}">
                            <i class="fas fa-pencil-alt" id="Modifier"></i>
						</a>
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button type="button" class="btn btn-primary">
        <a href="{{ path('fournisseurs_new') }}" id="Add_article">Ajouter un nouveau fournisseur</a>
    </button>
{% endblock %}
