{% extends 'base.html.twig' %}

{% block title %}Nouveau fournisseur{% endblock %}

{% block stylesheets %}
	<style>
		#Modifier,
		#Add_article {
			color: #000000;
			text-decoration: none;
		}
        h1{
            text-align:center;
        }
	</style>
{% endblock %}

{% block body %}
    <div>
        <h1>Formulaire d'ajout d'un nouveau fournisseur</h1>
    </div>

    {{ include('fournisseurs/_form.html.twig') }}

    <button type="button" class="btn btn-primary">
        <a href="{{ path('fournisseurs_index') }}" id="Add_article">Retour à la liste des fournisseurs</a>
    </button>
{% endblock %}
